@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>The Dream Team reserves the right to steal all of your information. >:).</h2>
<div class="tenor-gif-embed" data-postid="5996444" data-share-method="host" data-width="100%" data-aspect-ratio="1.5182926829268293"><a href="https://tenor.com/view/salem-gif-5996444">Salem GIF</a> from <a href="https://tenor.com/search/salem-gifs">Salem GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>